body {
  overflow: hidden;
}

#desk {
  background-color: #fff;
  position: absolute;
  padding: 10px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-left: 1px dashed #000;
}

#file-picker {
  position: absolute;
  bottom: 5px;
  left: 10px;
  right: 120px;
}

#editor {
  position: absolute;
  top: 10px;
  bottom: 30px;
  left: 10px;
  right: 10px;
  border: 2px solid #000;
  border-radius: 2px;
}

#apply {
  position: absolute;
  bottom: 5px;
  right: 10px;
}